body {
    background-color: #25142D;
}

main {
    overflow: hidden;
}

h2,
i {
    background: -webkit-linear-gradient(#7D4395, #D72535);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    border: 2px solid #D72535;
    ;
}